@import '../sass/utils/common';
@import '../sass/utils/variables';
@import '../sass/utils/vissualy-hidden';
@import '../sass/base/basestyles';
@import '../sass/components/dark-theme';
@import '../sass/base/container';

@import '../sass/components/modal-film';
@import '../sass/components/modal-trailer';
@import '../sass/components/pagination';
@import '../sass/components/to-the-top';
@import '../sass/components/loader';
@import '../sass/components/modal-registration.scss';
@import '../sass/layout/header';
@import '../sass/layout/auth-reg';
@import '../sass/layout/header-library';
@import '../sass/layout/gallery';


@import '../sass/layout/footer';
@import '../sass/components/backdrop';

@import '../sass/components/pagination'

