:root {
    --main-light-font-color: #ffffff;
    --main-font-color: #000000;
    --second-font-color: #FF6B08;
    --font-color: #8C8C8C;
    --main-bgr-btn: #FF6B01;
    --second-bgr-btn: rgba(0, 0, 0, 0.56);
    --warning-color: #FF001B;

    --main-table-name: #8c8c8c;

    --active-btn-bgr-pagination: #FF6B08;
    --arrow-btn-bgr-pagination: #F7F7F7;
    --main-font-footer-color: #545454;
    
    --main-bgr-footer: #F7F7F7;
    

    --dark-bgr-color: #444141;
    --dark-table-name: #5555;
    --dark-bgr-footer: #757272;
    --dark-font-footer-color: #f5f5f5;

    --transition-dur-and-func: 250ms transform ease-in-out;

}

