<footer class="footer">
<div class="container container_footer">
    <ul class="footer_list">
    <li class="footer_item">&#169 2023</li>
    <li class="footer_item">All Rights Reserved</li>
    <li class="footer_item">Developed with</li>
    
    <li class="footer_item"><svg
    class="footer_icon"
    aria-label="Icon heart"
    width="14px"
    height="13px"
  >
    <use href="/src/images/symbol-defs.svg#icon-heart"></use>
  </svg></li>
    <li class="footer_item"><button class="footer_btn">by GoIT Students</button></li>
    </ul>

</div>
</footer>