<div class="select">
  <div class="select__header">
    <div class="select__current"></div>
  </div>
  <div class="select__body">
    <div class="select__item">
      <img
        src="./images/Flag-Ukraine-Flag.48.png.webp"
        alt="flag of Ukraine"
        id="uk"
      />
    </div>
    <div class="select__item">
      <img
        src="./images/Flag-United-Kingdom-flag.48.png.webp"
        alt="flag of Great Britain"
        id="en"
      />
    </div>
    <div class="select__item">
      <img
        src="./images/Flag-Germany-Flag.48.png.webp"
        alt="flag of Germany"
        id="de"
      />
    </div>
  </div>
</div>
<div class="container">
  <ul class="gallery js-gallery"></ul>
</div>
