<header class="library_header">
    <div class="container">
        <nav class="main-nav">
            <a href="/src/index.html" class="logo-header">
                <svg class="icon-header" width="22" height="22">
                    <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <span class="filmoteka-text">Filmoteka</span>
            </a>

            <ul class="nav_list">
                <li class="nav__item">
                    <a href="./index.html" class="nav_link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="./library.html" class="nav_link current">My library</a>
                </li>
            </ul>
        </nav>
        <div class="btn_centered">
            <ul class="btn-list">
                <li class="btn-list_item">
                    <button class="library_btn js-watched-btn library_btn--current" type="button">WATCHED</button>
                </li>
                <li class="btn-list_item">
                    <button class="library_btn js-queue-btn" type="button">QUEUE</button>
                </li>
            </ul>
        </div>
    </div>
</header>