<div class="back-drop is-hidden">
    <div class="modal-window">
        <button class="modal-window__button">
        <svg
            class="modal-window_icon"
            aria-label="Кнопка закриття"
            width="18px"
            height="18px"
          >
          <use href="/src/images/symbol-defs.svg#icon-close"></use>
        </svg>
        </button>    
        <ul class="gallery_students">
                                                              
        </ul>
    </div>
</div>