<div class="back-drop is-hidden">
  <div class="modal-window">
    <button class="modal-window__button">
      <svg
        class="modal-window_icon"
        aria-label="Кнопка закриття"
        width="18px"
        height="18px"
      >
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="team_text">Filmoteka</p>
    <div class="stump_div">
      <p class="team_producers">
        Team project produced by Ninja-Students
        <span class="team_group">Group 15</span>
      </p>
    </div>
    <ul class="gallery_students"></ul>
  </div>
</div>
