.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: scale(1);
  // transition-property: opacity, visibility, pointer-events;
  // transition-duration: 500ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
.back-drop.is-hidden {
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  max-width: 320px;
  width: 100%;
  max-height: 550px;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--main-light-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  overflow-y: scroll;
  // background-image: url('/src/images/back-1.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
}
.modal-window__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}
.modal-window_icon {
  stroke: var(--main-font-color);
  &:hover {
    stroke: var(--main-bgr-btn);
  
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    max-width: 700px;
    max-height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 1000px;
    max-height: 650px;
  }
}
.gallery_students {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery_item {
  width: 250px;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 768px) {
  .gallery_item {
    width: 150px;
    height: 280px;  
  }
}
.gallery_img {
  width: 100%;
  margin-bottom: 10px;
}

.gallery_text{
  margin-top: 10px;
  color: var(--main-bgr-btn);
}

@media screen and (min-width: 768px) {
  .gallery_name {
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
}
