.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  width: 280px;
  max-height: calc(100vh - 20px);
  z-index: 3;
  background-color: var(--main-light-font-color);

  @media screen and (min-width: 768px) {
    width: 704px;
    max-height: 552px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    max-height: 558px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

.modal__icon {
  stroke: var(--main-font-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    stroke: var(--main-bgr-btn);
  }
}

.modal__item {
  padding: 48px 20px 40px 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
    padding: 40px 12px;
  }
}

.modal__img {
  position: relative;
  width: 240px;
  height: 357px;
  padding-bottom: 20px;
  // object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    padding-bottom: 0;
  }
}

.modal__container {
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.modal__container-img {
  max-height: 357px;

  @media screen and (min-width: 768px) {
    max-height: 374px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 478px;
  }
}

.modal__table {
  border-collapse: collapse;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.table__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  text-align: left;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.table__name {
  width: 45%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  padding: 0 0 8px 0;

  @media screen and (min-width: 768px) {
    width: 41%;
  }

  @media screen and (min-width: 1280px) {
    width: 39%;
  }
}

.table__value {
  width: 55%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  padding: 0 0 8px 0;

  @media screen and (min-width: 768px) {
    width: 59%;
  }

  @media screen and (min-width: 1280px) {
    width: 61%;
  }
}

.table__value--orange {
  display: inline-block;
  text-align: center;
  height: 16px;
  width: 36px;
  border-radius: 5px;
  background-color: var(--main-bgr-btn);
  color: var(--main-light-font-color);
}

.table__value--grey {
  display: inline-block;
  text-align: center;
  height: 16px;
  width: 36px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.modal__about {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin: 12px 0 8px 0;
}

.modal__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 8px;
    justify-content: flex-start;
  }
}

.modal__btn {
  width: 110px;
  height: 44px;
  border: 1px solid var(--main-font-color);
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.05;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.modal__btn--watched {
  background-color: var(--main-bgr-btn);
  color: var(--main-light-font-color);
  border: 1px solid var(--main-bgr-btn);
  padding: 0;
}

.modal__btn--queue {
  background-color: var(--main-light-font-color);
  border: 1px solid var(--main-font-color);
  padding: 0;
}

.modal__play {
  position: absolute;
  top: 175px;
  left: 103px;
  width: 74px;
  height: 74px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 78px;
    height: 78px;
    top: 180px;
    left: 128px;
  }

  @media screen and (min-width: 1280px) {
    width: 100px;
    height: 100px;
    top: 220px;
    left: 150px;
  }

  &:hover,
  &:focus {
    scale: 1.1;
  }
}
