a, button {
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  button {
    border: none;
    background: none;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 40px;
    margin: 0 auto;
  }
  
  .number-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  
    &:hover{
      background: #FF6B08;
      border-radius: 8px;
      color: #fff;
    }
  }
  
  .cards-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .currentPage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  
    width: 40px;
    height: 40px;
    background: #FF6B08;
    border-radius: 5px;
    padding: 8px;
    margin: 0 2px 0 2px;
  }
  
  
  .arrow-left, .arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #f7f7f7;
    transform: matrix(-1,0,0,1,0,0);
    background-position: 50%;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
  
    &:hover{
      background-color: #FF6B08;;
      border-radius: 8px;
    }
  }
  
  .arrow-left {
    background-image: url(../images/pagination-arrow/arrow-right.svg);
    
  }
  
  .arrow-right {
    background-image: url(../images/pagination-arrow/arrow-left.svg);
  }
  