.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(173, 173, 173);
    color: orange;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
    width: 45px;
    height: 45px;
    }
    
    
    .myBtn:hover {
    background-color: rgb(133, 131, 131);
    }
    
    html {
    scroll-behavior: smooth;
    }