.auth-reg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-reg-box__btns {
    display: flex;
    justify-content: center;
    // margin-bottom: 18px;
}



.auth-btn {
    background: transparent;
    border-radius: 5px 5px 2px 2px;
    border-bottom: transparent;
    width: 150px;
}

.reg-btn {
    background: transparent;
    border-radius: 5px 5px 2px 2px;
    border-bottom: transparent;
    width: 150px;
}

.target-btn {
    border-bottom: 2px solid #ff6b01;
}

.auth-reg-forms {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 250px;

    overflow-x: hidden;
}

// LOGIN


.login-box {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-100%);
    transition: 250ms transform ease-in-out;
}

.auth-reg-forms.current::after {
    width: 0;
    height: 0;
}

.login-box.current {
    transform: translateX(0);
}

.login-box.current::after {
    width: 0;
    height: 0;
}



.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
}

%label-input-pos {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.login-from__label-login {
    @extend %label-input-pos;
}

.login-from__label-mail {
    @extend %label-input-pos;
}

.label-login__input {}

.login-from__label-password {
    @extend %label-input-pos;
}

.label-password__input {}

.login-form-btn{
    background: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px 8px;
    margin-top: 18px;
}

// REGISTRATION


.registration-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13%;
    transform: translateX(100%);

    transition: 250ms transform ease-in-out;
}

.registration-box.current {
    transform: translateX(0);
}

.registration-box.current::after {
    width: 0;
    height: 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
}

.registration-form__label-username {
    @extend %label-input-pos;
}

.label-username__input {}

.registration-form__label-mail {
    @extend %label-input-pos;
}

.label-mail__input {}

.registration-form__label-pswd {
    @extend %label-input-pos;
}

.label-pswd__input {}

.registration-form__label-rptpswd {
    @extend %label-input-pos;
}

.label-rptpswd__input {}

.input {
    
}

.registration-form-btn {
    background: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px 8px;
    margin-top: 18px;
}