
.footer {
    padding: 30px 0;
}
.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    flex-wrap: wrap;
      
}
@media screen and (min-width: 768px) {
    .footer_list {
        font-size: 16px;
    }
}
.footer_item {
    display: flex;
    align-items: center;
    color: #545454;
    margin-bottom: 10px;
   
    &:last-child {
        margin-right: 10px;
    }
   
}
.footer_item:nth-child(-n + 2)::after {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    border-right: 2px solid #545454;
    margin-left: 5px;
    margin-right: 5px;
    
}

.footer_icon {
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
   
}

.footer_btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    // margin-top: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #545454;
}
@media screen and (min-width: 768px) {
    .footer_btn {
        font-size: 16px;
    }
}