.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.movie {
    width: 100%;
}

.movie__poster {
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie__title {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
}
.movie__subtitle {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    color: rgba(255, 107, 8, 1);
}

@media screen and (min-width: 768px){
    .gallery{
        gap: 32px;
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .movie {
        flex-basis: calc((100% - 32px) / 2);
    }
    .movie__poster {
        margin-bottom: 8px;
    }
} 
@media screen and (min-width: 1200px) {
    .gallery{
        gap: 16px; 
        margin-top: 28px;
        margin-bottom: 28px; 
    }
    .movie {
        flex-basis: calc((100% - 32px) / 3);
    }
    .movie__poster {
        margin-bottom: 12px;
    }
    .movie__title {
        font-size: 20px;
        line-height: 1.2;
    }
    .movie__subtitle {
        font-size: 20px;
        line-height: 1.2;
    }
}