.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    transform: scale(1);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.03);
    
  }
}

.movie__poster {
    border-radius: 5px;
}    
.movie__description {
    margin-top: 10px;
    padding: 0 10px 0 10px;
}
.movie__title {
    color: var(--main-font-color);
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
}

.movie__subtitle {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    color: var(--second-font-color);
}
.movie__rate {
    visibility: hidden;
}
@media screen and (min-width: 768px){
    .gallery{
        gap: 32px;
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .movie {
        flex-basis: calc((100% - 32px) / 2);
    }
    .movie__description {
        margin-top: 8px;
    }
} 
@media screen and (min-width: 1280px) {
    .gallery{
        gap: 16px; 
    }
    .movie {
        flex-basis: calc((100% - 32px) / 3);
    }
    .movie__description{
        margin-top: 12px;
    }
    .movie__title {
        font-size: 20px;
        line-height: 1.2;
    }
    .movie__subtitle {
        font-size: 20px;
        line-height: 1.2;
    }
}
.back-img-text {
    text-align: center;
    color: #ff6347;
}
// ----------- styles select languages
.select {
    top: -40px;
    width: 70px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}
.is-active .select__body {
    display: block;
}
.select__header {
    display: flex;
    cursor: pointer;
    width: 40px;
}
.select__body {
    position: absolute;
    display: none;
    width: 40px;
    left: 0px;
    right: 0px;
    top: 100%;
}