.header {
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    padding-top: 40px;
    padding-bottom: 45px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/back-home-mobile-1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/back-home-mobile@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url(../images/back-home-mobile@3x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/back-home-laptop@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/back-home-laptop@2x.jpg);
            background-size: cover;
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(../images/back-home-laptop@3x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/back-home-desk@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/back-home-desk@2x.jpg);
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(../images/back-home-desk@3x.jpg);
        }
    }
}

.logo-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.icon-header {
    width: 24px;
    height: 24px;
    box-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .filmoteka-text {
        display: none;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.nav_list {
    display: flex;
    column-gap: 10px;
    align-items: center;

    @media screen and (min-width: 768px) {
        column-gap: 40px;
    }
}

.nav_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &:hover,
    &:focus {
        color: #FF6B01;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    color: #ffffff;

}

.current {
    &::after {
        content: '';
        display: block;
        bottom: -2px;
        width: 100%;
        height: 3px;
        opacity: 1;
        margin-top: 3px;
        background-color: #ff001b;
        position: absolute;
    }
}

.registration_btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        stroke: #FF6B01;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .btn_text{color: #FF6B01;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.registration_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.btn_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    

    color: #ffffff;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.search-form {
    @media screen and (min-width: 768px) {
        text-align: center;
    }
}

.input-thumb {
    position: relative;
    // width: 280px;

    @media screen and (min-width: 768px) {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }
}

.inputsearch {
    width: 100%;
    height: 20px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 4px;
    display: block;
    color: #ffffff;

    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: #ffffff;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.search-error {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #ff001b;
}

.search-btn {
    width: 12px;
    height: 12px;
    background-color: #0000;
    border: none;
    position: absolute;
    bottom: 6px;
    right: 6px;
}